<div class="temparature-page">
  <div class="header">
    <h1>Temperatur Converter</h1>
  </div>
  <div class="temp-page">
    <div class="mb-3 mt-3">
      <label class="form-label text-header">Celsius(&deg;C):</label>
      <input
        type="number"
        class="form-control"
        placeholder="Celsius"
        [(ngModel)]="cel"
        (input)="celsiusConverter()"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-header">Fahrenheit(&deg;F):</label>
      <input
        type="number"
        class="form-control"
        placeholder="Fahrenheit"
        [(ngModel)]="fah"
        (ngModelChange)="fahrenheitConverter()"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-header">Kelvin(&deg;K):</label>
      <input
        type="number"
        class="form-control"
        placeholder="Kelvin"
        [(ngModel)]="kel"
        (ngModelChange)="kelvinConverter()"
      />
    </div>
  </div>
</div>
