<div class="temparature-page">
  <h1>Temperatur Converter</h1>
  <div class="temp-page">
      <!-- <form> -->
        <div class="mb-3 mt-3">
          <label  class="form-label text-header">Celsius:</label>
          <input type="number" class="form-control" placeholder="Enter Celsius" 
          [(ngModel)]="cel" (ngModelChange)="celsiusConverter($event)">
        </div>
        <div class="mb-3">
          <label class="form-label text-header">Fahrenheit:</label>
          <input type="number" class="form-control" placeholder="Enter Fahrenheit" 
          [(ngModel)]="fah" (ngModelChange)="fahrenheitConverter($event)">
        </div>
      <!-- </form> -->
  </div>
  {{fah}}-{{cel}}
</div>



